<!DOCTYPE html>
<html lang="en">
  
    <head>
        <meta charset=UTF-8>
        <title>Hello World!</title>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="{{url_for('static', filename='js/opencv.js')}}"></script>
    </head>

    <body>
        <div id="container">     
            <video hidden autoplay="true" id="videoElement"></video>
        </div>
        
        <div class = 'video'>   
            Latency in milliseconds
            <div id="latency">
        
            </div> 
            <img id="image">
        </div>
    </body>

    <script>    
        // var socket = io('https://mighty-falls-06113.herokuapp.com/:55026');
        // var socket = io();
        // var socket = io.connect('https://' + document.domain + ':' + location.port); 
        
        // const socket = io("https://mighty-falls-06113.herokuapp.com/", {
        //     withCredentials: true,
        //     extraHeaders: {
        //         "my-custom-header": "abcd"
        //     }
        // });

        var socket = io();

        socket.on('connect', function(){ 
                console.log("Connected...!", socket.connected)    
        });    
        
        const video = document.querySelector("#videoElement");    
        video.width = 400;     
        video.height = 275;     
        if (navigator.mediaDevices.getUserMedia) {        
                navigator.mediaDevices.getUserMedia({ 
                    video: true 
                }) .then(function (stream) { 
                            video.srcObject = stream;            
                            video.play();        
                    }) .catch(function (err0r) { 
                            console.log(err0r)            
                            console.log("Something went wrong!");        
                        });   
        }    
        let src = new cv.Mat(video.height, video.width, cv.CV_8UC4);    
        let dst = new cv.Mat(video.height, video.width, cv.CV_8UC1);   
        
        let cap = new cv.VideoCapture(video);    
        const FPS = 30;    
        setInterval(() => {        
            cap.read(src);        
            var type = "image/png";        
            
            const video = document.getElementById("videoElement");
            const canvas = document.createElement("canvas");

            // canvas.width = video.videoWidth;
            // canvas.height = video.videoHeight;

            canvas.width = 400;
            canvas.height = 275;

            // draw the video at that frame
            canvas.getContext('2d')
            .drawImage(video, 0, 0, canvas.width, canvas.height);
            // convert it to a usable data URL
            var data = canvas.toDataURL();
            
            data = data.replace('data:' + type + ';base64,', '');        
            timeStamp = Date.now().toString();
            data = data+","+timeStamp;
            
            socket.emit('image', data);    
        }, 10000/FPS);    
                    
        socket.on('response_back', function(imageData){
                        
                        arrayData = imageData.split("|");  
                        image = arrayData[0];
                        const image_id = document.getElementById('image');        
                        image_id.src = image;    

                        div = document.getElementById('latency');
                        div.textContent = new Date().getTime() - new Date(parseInt(arrayData[1]) ).getTime();
                        
        });



    </script>
</html>
